.handle
	.body
		position: absolute
		top: 50%
		width: 300px
		height: 300px
		margin-top: -150px
		.arrow
			position: absolute
			top: 50%
			height: 300px
			margin-top: -150px
			line-height: 300px
			&.step1
				font-size: 200px
			&.step2
				font-size: 190px
			&.step3
				font-size: 180px
		&.left
			left: 0
			.step1
				left: 0
			.step2
				left: 70px
			.step3
				left: 140px